.wrapper {
  display: grid;
  grid-gap: 5px;
  width: 100%;
}
.wrapper.col1 {
    grid-template-columns: repeat(1, 1fr);
}
.wrapper.col2 {
    grid-template-columns: repeat(2, 1fr);
}
.wrapper.col3 {
    grid-template-columns: repeat(3, 1fr);
}
.wrapper.col4 {
    grid-template-columns: repeat(4, 1fr);
}
.wrapper.col5 {
    grid-template-columns: repeat(5, 1fr);
}
.wrapper.col6 {
    grid-template-columns: repeat(6, 1fr);
}
.wrapper.col7 {
    grid-template-columns: repeat(7, 1fr);
}
.wrapper.col8 {
    grid-template-columns: repeat(8, 1fr);
}
.wrapper.col9 {
    grid-template-columns: repeat(9, 1fr);
}
.wrapper.col10 {
    grid-template-columns: repeat(10, 1fr);
}
.wrapper.col11 {
    grid-template-columns: repeat(11, 1fr);
}
.wrapper.col12 {
    grid-template-columns: repeat(12, 1fr);
}
.item {
    display: flex;
    
}
