@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.sideBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fe4a49;
    height: 100%;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    display: flex;
    justify-content: space-between;
}

.sideBar ul {
    display: flex;
    flex-direction: column;
}
.sideBar ul li {
    list-style: none;
    padding: 10px;
    
}

.sideBar ul li a {
    color: white;
}

.sideBarHide {
    display: none;
}

.button {
    color: white;
    font-weight: 800;
    font-size: 50px;
    padding: 10px;
}

.buttonBox {
    display: flex;


}