@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700;800&display=swap");

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3d3c42;
  font-size: large;
}

.fill {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 82.88px);
}

.accent {
  color: #fe4a49;
  font-weight: 800;
}

.center {
  text-align: center;
}


.small {
  font-size: small;
}

li a {

  color: #303130;
}

li a:hover {
  cursor: pointer;
  color: #fe4a49;
  text-decoration: underline;
}

p a {
  
  color: #303130;
}

p a:hover {
  cursor: pointer;
  color: #fe4a49;
  text-decoration: underline;
}

.workListBox {
display: flex;

}

.workList {
  margin: 3%;
}
